.Cleaninglist ul {
    font-size: 1.8rem;
    padding: 2rem;
   
}


.contact h2{
    font-size: 2rem;
    letter-spacing: .2rem;
}

.contact h3 {
  font-size: 1.5rem;
}

.contact h4 {
    font-size: 1.2rem;
}

footer{
    height: auto;
    flex-direction: column;
    align-self: center;
    text-align: center;
}

.almenu{
    width: 100%;
}

.copy{
    width: 100%;
    order: 1;
}

.map{
    width: 100%;
}


/*--------------------------------------------------------------Baby Carriage---------------------------------------------------------*/


.dataArea{
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 0 4rem 2rem 4rem;
    text-align: center;
    justify-content: space-evenly;
}
.dataArea h1{
    text-align: start;
}

.datAtext p, h3, h4 { 
    text-align: start;
}