#navList{
  
    width: 17.7rem;
}


#navList ul{
    margin-left: -.6rem;
}

#navList li{
    padding: .8rem 0 .8rem -1.rem ;
    
    font-size: 1rem;
    font-weight: 700;
    text-shadow: 1px 1px 1px  rgba(0, 0, 0, 0.685);
}

#navList .tellemail a {
    font-size: .84rem;
}


main h1 {
    font-size: 1.4rem;
}

.firstText p {
    font-size: 1rem;
}

.card {
    width: 255px;
}

.card img {
    width: 255px;
    height: auto;
}

.Cleaning h2 {
    font-size: 1.1rem;
}

.Cleaninglist li {
    font-size: .9rem;
}
.contact h2 {
    font-size: 1.3rem;
}

.contact h3 {
    font-size: 1rem;
}

.contact h4 {
    font-size: 1rem;
    padding: .2rem;
}





/*--------------------------------------------------------------Baby Carriage---------------------------------------------------------*/    

.linkList:first-child {
    margin-left: 0rem;
}

.linkList a {
    font-size: 1rem;
}

.gallery .mini {
    width: 5rem;
    margin: 0 0.5rem 0.5rem 0;
}

.gallery .normal {
    width: 10rem;
}


.dataArea h1 {
    font-size: 1.6rem;
    margin-left: -4rem;
}

.datAtext h3 {
    font-size: 1.4rem;
}

.datAtext p {
    margin-left: -4rem;
}

.datAtext p {
   /*  margin-left: -4rem; */
    font-size: 1.3rem;
}

.dwBox span {
    font-size: 1.3rem;
}

/*---------------------------------Sütik (cookie) kezelése-----------------------------------------------*/
.cookiMain h1{
    font-size: 1rem;
}



.cookieText{
    width: 97%;
}

.cookieText p{
    font-size: 1rem;
    text-align:left;
    padding: 1rem;
}

.cookieText li{
    font-size: 1rem;
}

.cookieText a{
    font-size: 1rem;
    color: black;
}

/*---------------------------------Popup-----------------------------------------------*/
.popup{
    padding: .5rem 1rem 2rem 1rem ;
}


.popup p{
    font-size: .8rem;
    font-weight: 600;
    padding-top: .5rem;
    letter-spacing: .1rem;
    text-align: start;
}