nav{
    flex-direction: column;
    height: auto;
}


#menuButton{
    margin: 1rem 0 1rem 0;
}

.rightLink{
    justify-content: center;
    text-align: center;
    margin-right: 1.5rem;
    font-size: 1.4rem;
    margin: .5rem 0 .5rem 0;
}

.rightLink i {
    font-size: 1.2rem;
    margin-right: .2rem;
}

#navList{
    width: 23rem;
    background-color:#818286e3;
}


#navList li{
    letter-spacing: 0rem;
    
}

#navList .tellemail a {
    font-size: 1.1rem;
}

.banner img{
    width: 400px;
    height: auto;
}


main h1{
    margin: 2rem 0 2rem 0;
    font-size: 1.3rem;
}
.firstText{
    padding:0 .2rem 0 .2rem;
}

.firstText p{
    font-size: 1.1rem;
    line-height: 150%;
    font-weight: 500;
}

.card-content{
    margin-left: 0;
    margin-right: 0;
   
    text-align: none;
}

.card{
    width: 300px;
    height: auto;
}


.card img {
   width: 300px;
   height: 400px;
}

.Cleaning h2{
    font-size: 1.8rem;
    letter-spacing: .1rem;
    margin-bottom: .8rem;
    margin-left: 4rem;

}
.Cleaninglist li {
    font-size: 1.1rem;
}


.contact h3 {
    font-size: 1.3rem;
}

.contact h4 {
    font-size: 1.1rem;
}

form{
    padding-top: 1rem;
}



main h1 {
    margin: 2rem 0 2rem -3rem;
    font-size: 2rem;
}


.linkList a {
    padding: 0 1rem 0 0;

    letter-spacing: .1rem;
    font-size: 1.2rem;
}



.linkList a {
    padding: 0 1rem 0 1rem;
    letter-spacing: .1rem;
    font-size: 1.2rem;
}



.gallery .normal{
    width: 10rem;
    
}

.gallery .mini{
    width: 7rem;
    margin: 0 1rem 1rem 0;
}

.datAtext p {
    margin-left: -1rem;
   padding: 1rem 0 1rem 0;
}