#navList{
  
    width: 17.7rem;
}


#navList ul{
    margin-left: -.6rem;
}

#navList li{
    padding: .8rem 0 .8rem -1.rem ;
    
    font-size: 1rem;
    font-weight: 700;
    text-shadow: 1px 1px 1px  rgba(0, 0, 0, 0.685);
}

#navList .tellemail a {
    font-size: .84rem;
}


main h1 {
    font-size: 1.2rem;
}

.firstText p {
    font-size: 1rem;
}

.card {
    width: 255px;
}

.card img {
    width: 255px;
    height: auto;
}

.Cleaning h2 {
    font-size: 1.1rem;
}

.Cleaninglist li {
    font-size: .9rem;
}
.contact h2 {
    font-size: 1.3rem;
}

.contact h3 {
    font-size: 1rem;
}

.contact h4 {
    font-size: 1rem;
    padding: .2rem;
}