*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
}

body{
    background-color: #dddee086;
    
}

/*------------------------------------------------Header Section----------------------------------------------------------------*/


/*----------------------------Nav--------------------------------------------*/
nav{
    height: 6rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.rightLink{
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: end;
    margin-right: 1.5rem;
    
}
.rightLink a {
    text-decoration: none;
    color: #818286;
    text-shadow: 1px 1px 1px  rgba(0, 0, 0, 0.685);
    font-size: 1.2rem;
    font-weight: 300;
}

.rightLink a:hover{
    color:#81828644;
    cursor: pointer;
}

.rightLink :first-child{
    margin-bottom: .3rem;
}

.rightLink i {
    font-size: 1.8rem;
    margin-right: .5rem;
}

#menuButton{
    background-color:#818286;
    color: white;
    text-shadow: 1px 1px 1px black;
    /* font-size: 1.9rem; */
    margin-left: 2rem;
    padding: 1.2rem;
    height: 70px;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menuButton .fa-bars{
    font-size: 2rem;
}

#menuButton:hover{
    background-color:#81828685;
    cursor: pointer;
}

/*----------------------------Nav List--------------------------------------------*/
#navList{
    position: absolute;
    top: 0;
    width: 24rem;
    height: 100%;
    display: none; /*Ha végeztél ez legyen none*/
    flex-direction: column;
    text-align: center;
    background-color:#818286;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 3.5rem 1rem 3.5rem 1rem;
    color: whitesmoke;
    font-weight: 500;
    
}


#navList .link{
   /* outline: 1px solid whitesmoke;  */
    width: 110%;
    margin-bottom: 1.8rem;
}



#navList a {
    color: whitesmoke;
    text-decoration: none;
    text-shadow: 1px 1px 1px  rgba(0, 0, 0, 0.685);
}

#navList ul {
    list-style: none;
}

#navList li{
    padding: .8rem 0 .8rem 0 ;
    letter-spacing: .1rem;
    font-size: 1.3rem;
    font-weight: 700;
    text-shadow: 1px 1px 1px  rgba(0, 0, 0, 0.685);
}

#navList li:hover{
    color: rgba(245, 245, 245, 0.603);
    cursor: pointer;
}

#navList .XButtonBox{
    /* outline: 1px solid whitesmoke; */
    margin-top: -2rem;
    text-align: end;
}

    
#navList i{
    text-align: end;
    margin-bottom: 1rem;
    font-size: 1.9rem;
    cursor:pointer;
} 

#navList i:hover{
    color: rgba(245, 245, 245, 0.603);
}

#navList .tellemail{
    /* outline: 1px solid whitesmoke;  */
    width: 110%;
    /* padding: 0 0 1rem 0; */
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
}
#navList .tellemail a {
    font-size: .9rem;
    padding: 0 1.3rem 0 0 ;
    font-weight: 700;
}

#navList .tellemail a:hover{
    color: rgba(245, 245, 245, 0.603);
    cursor: pointer;
}

#navList .socIcon{
    /* outline: 1px solid whitesmoke;  */
    width: 110%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
    
}
#navList .socIcon .fab{
        color: whitesmoke;
        font-size: 2.6rem;
        padding-top: 2.4rem;
}

#navList .socIcon .fab:hover{
    color: rgba(245, 245, 245, 0.603);
    cursor: pointer;
}

/*----------------------------Banner--------------------------------------------*/
.banner{
    /* outline: 1px solid black; */
    height: 24rem;
    display: flex;
    justify-content: center;
    background: url(../img/Hbackgrand02.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main h1{
    text-align: center;
    margin: 2rem 0 2rem 0;
    font-size: 2.5rem;
    letter-spacing: .3rem;
    font-weight: 700;
    color: #818286;
    text-shadow: 1px 1px 1px  rgba(0, 0, 0, 0.685);
}



/*------------------------------------------------Main Section----------------------------------------------------------------*/


/*----------------------------First Text Area--------------------------------------------*/

.firstText{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    height: auto;
 /*    outline: 1px solid black; */
}

.firstText p{
    font-size: 1.5rem;
    line-height: 150%;
    font-weight: 700;
}

.text1{
    margin-bottom: 3rem;
    color: rgba(0, 0, 0, 0.555);
}

.text2{
    margin-bottom: 3rem;
    color: #818286;
    text-shadow: 1px 1px 1px  rgba(0, 0, 0, 0.685);
    
} 

.text3{
    margin-bottom: 3rem;
    color: rgba(0, 0, 0, 0.555);
} 

/*---------------------------Img Container--------------------------------------------*/

.imgContainer{
   /*  min-height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px;
    margin-top: -30px;
}

.card{
    position: relative;
    width: 340px;
    height: 500px;
    height: auto;
    margin: 15px;
    margin-top: 120px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
}

.card a  {
    cursor: pointer;
    text-decoration: none;
    color: #818286;
    font-size: 1.1rem;
    /* text-shadow: 1px 1px 1px  rgba(0, 0, 0, 0.685); */
}

.card-image{
    max-width: 340px;
    max-height: 453px;
}


/*---------------------------Cleaning Container--------------------------------------------*/
.Cleaning {
    height: auto;
}
.Cleaning h2{
    font-size: 2.3rem;
    margin: 2rem  2rem  0 8rem;
    color: #818286;
    text-decoration: underline;
    letter-spacing: .5rem;
}


.Cleaninglist{
    width: 80%;
    margin: 0rem auto 0 auto;
}

.Cleaninglist ul {
    padding: 2rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.555);
}

.Cleaninglist li{
    padding: 1rem;
    font-size: 1.5rem;
}


/*---------------------------Contact Container--------------------------------------------*/

.contact{
    height: 800px;
}

.contact h2{
    font-size: 2.3rem;
    color: #818286;
    letter-spacing: .5rem;
    text-align: center;
    margin:5rem 0 3rem 0 ;    
}
.contact h3 {
    text-align: center;
    color: #818286;
    font-size: 1.5rem;
}

.contact h4{
    text-align: center;
    color: #818286;
    font-size: 1.2rem;
    margin-top: .5rem;
}


.contactForm{
   /*  outline: 1px solid black; */
    width: 55%;
    height: auto;
    margin: 2rem auto 0 auto;
    background: url(../img/Refbackgrand.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
}

form{
    width: 80%;
    margin: 0 auto 0 auto;
    padding-top: 3rem;
    text-align: center;
}

form input{
    font-size: 1.3rem;
    border-radius: 10px;
    border: .1rem solid;
    padding-top: 1rem;
    text-align: center;
    font-weight: 500;
}
form legend{
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 500;
}

fieldset{
    margin-top: 1.5rem;
}

.one{
    text-align: center;
}
.one :last-child{
    margin-bottom: 1rem;
}

.two{
    text-align: center;
    padding: 1rem;
}


.three{
    text-align: center;
}


.three select{
    text-align: center;
    font-size: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
} 

.btn{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 900;
    padding: .5rem;
    margin-top: 1rem;  
    margin-bottom: 1rem;
    background-color:#818286;
    color: white;
}

.btn:hover{
    cursor: pointer;
    background-color:#81828685;
}

/*------------------------------------------------Footer Section----------------------------------------------------------------*/

footer{
    height: 280px;
  /*   outline: 1px solid black; */
    display: flex;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.almenu{
    width: 38.33%;
    height: 100%;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    letter-spacing: .2rem;
   /*  outline: 1px solid black; */
}

.almenu a {
    text-decoration: none;
    font-weight: 700;
    color: #818286;
    /* text-shadow: 1px 1px  rgba(0, 0, 0, 0.685); */
}



.almenu a:hover{
    cursor: pointer;
    color: black;
}

.almenu li{
    padding: 1rem;
    list-style: none;
}

.copy{
    width: 23.33%;
    height: 100%;
    /* background-color: brown; */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    color: #818286;
    /* outline: 1px solid black; */
}

.copy img{

    margin-bottom: .5rem;
}
.copy p{
    margin-bottom: .5rem;
    font-size: .7rem;
    font-weight: 700;
    letter-spacing: .5rem;
    color: #818286;
}
.map{
    width: 38.33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    color: #818286;
    font-weight: 700;
    text-shadow: 1px 1px  rgba(0, 0, 0, 0.685);
   /*  outline: 1px solid black; */
}

.googleMap{
    width:100%;
    height:auto;
    margin-left: auto;
    margin-right: auto;
}